.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
  
.modalContainer {
  width: 400px;
  height: 370px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #00b386;
}
  
.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color: #00b386;
}
  
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}
  
.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
  
.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
  
.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #00b386;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
  
#cancelBtn {
   background-color: crimson;
}

.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-button {
  float: right;
}